.home {
  /* box-sizing: border-box; */
  width: 100%;
  /* max-width: 800px; */
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0;
  .profile {
    text-align: center;
  }
  .image {
    width: 150px;
    height: 150px;
    img {
      transition: all 0.5s ease-in;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    img:hover {
      transform: rotate(-20deg);
    }
  }
  #twitter {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px;
  }
  #slack {
    display: none;
  }

  .links {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    text-align: center;
    width: 90%;
    .link {
      text-decoration: none;
      padding: 20px 8px;
      background: #e3e3e3;
      width: 100%;
      border-radius: 8px;
    }
    .link:hover {
      transition: all 0.3s ease-in;
      transform: scale(1.02, 0.91);
    }
  }

  .icons {
    display: flex;
    margin: 2rem;
    column-gap: 10px;
  }
}
